<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>My Grocery List</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <!-- Let's put some EJS in here for our data -->
    </ul>
  </body>
</html>
