div {
  border: 3px solid red;
  height: 200px;
  width: 300px;
  margin: 20px;
  float: left;
  background: black;
}

@media screen and (min-width: 800px) {

  div {
    border: 5px dashed blue;
    background: gray;
  }

}
